.camtour{
	text-align: center;
}
.titleimg{
	color: #6e9032;
}
#imgsiha{
	width: 98%;
}
.bnt_detail{
	color: #fff;
	text-transform: uppercase;
	background: #87ad22;
}
#imgcamtre{
	width: 98%;
}
#imgppbik{
	width: 98%;
}